<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.maxxyung.literature-scraper</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/maxxyung/Projects/morphogen-gpbo/.venv/bin/python</string>
    <string>-m</string>
    <string>literature</string>
    <string>scrape</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/maxxyung/Projects/morphogen-gpbo</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/maxxyung/Projects/morphogen-gpbo/literature/scrape.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/maxxyung/Projects/morphogen-gpbo/literature/scrape.log</string>
</dict>
</plist>
